@using InfoEducatie.Contest.Judging.Judging
@using InfoEducatie.Contest.Judging.JudgingCriteria
@using MCMS.Base.Extensions
@using MCMS.Base.Helpers
@model InfoEducatie.Contest.Judging.Judging.JudgingPageModel

@{
    ViewBag.Title = "Judging";
    ViewBag.HideFooter = true;
    ViewBag.MainContainerClasses = "p-0 flex-grow-1 d-flex flex-column";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="mt-2"></div>
            <span class="judging-top-stat">Judge: <b>@Model.Judge.FullName</b></span>
            <span class="judging-top-stat">Category: <b>@Model.Category.Name</b></span>
            <span class="judging-top-stat">Projects: <b>@Model.Projects.Count</b></span>
            <span class="judging-top-stat">Judging criteria: <b>@Model.JudgingSections.Sum(s => s.Criteria.Count)</b></span>
            <span class="judging-top-stat">Judging type: <b>@Model.Type</b></span>
            <button data-target="#judging-help-alert" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample" class="btn btn-link">Toggle help</button>
        </div>
    </div>
    @if (Model.Projects.Count != 0)
    {
        <div id="judging-help-alert" class="collapse">
            <div class="alert alert-info d-inline-block mt-2">
                <ul>
                    <li>Punctajul dintr-un field se salvează automat după ce acesta își pierde focusul.</li>
                    <li>Puteți ajusta dimensiunea tabelului modificând zoom-ul paginii (din browser), iar apoi dați un refresh (F5) pentru a se corecta tabelul.</li>
                    <li>Puteți naviga în tabel cu Tab/Shift+Tab. (Navigarea se face pe coloană)</li>
                    <li>Shift + Scroll pentru scroll pe orizontală (cu săgeata pe conținutul tabelului)</li>
                </ul>
            </div>
        </div>
    }
</div>
@if (Model.Projects.Count != 0)
{
    <div class="judging-table-wrapper flex-grow-1">
        <table class="table table-striped table-bordered judging-table">
            <thead>
            <tr>
                <th>Criteria</th>
                <th>Max Points</th>
                @foreach (var project in Model.Projects)
                {
                    <th class="project-title-cell">
                        <div>
                            <div class="project-title" data-e-type="project" data-e-id="@project.Id">@project.Title</div>
                            @if (!string.IsNullOrEmpty(project.OldPlatformId))
                            {
                                <a href="@project.DiscourseUrl" target="_blank" class="open-discourse-link">
                                    <i class="fas fa-external-link-alt"></i>
                                </a>
                            }
                        </div>
                    </th>
                }
            </tr>
            </thead>
            <tbody>

            @foreach (var sect in Model.JudgingSections)
            {
                <tr class="section-title-row">
                    <td data-content="@sect.Description" data-title="@sect.Name" data-toggle="popover" class="crit-td">
                        <b>@sect.Name</b>
                    </td>
                    <td data-content="@sect.Description" data-title="@sect.Name" data-toggle="popover" class="crit-td">
                        <b>@sect.MaxPoints</b>
                    </td>
                    @foreach (var project in Model.Projects)
                    {
                        <td class="project-section-points" data-project-id="@project.Id" data-section-id="@sect.Id">
                            <div>@Model.InitialPoints.Where(p => p.Project.Id == project.Id && p.Criterion.Section.Id == sect.Id).Sum(jc => jc.Points)</div>
                        </td>
                    }
                </tr>
                @foreach (var criterion in sect.Criteria)
                {
                    <tr class="inputs-row">
                        <td data-content="@criterion.Description" data-title="@criterion.Name" data-toggle="popover" class="crit-td" data-e-type="criterion" data-e-id="@criterion.Id">@criterion.Name</td>
                        <td data-content="@criterion.Description" data-title="@criterion.Name" data-toggle="popover" class="crit-td">@criterion.MaxPoints</td>
                        @foreach (var project in Model.Projects)
                        {
                            var initial = Model.InitialPoints.FirstOrDefault(p => p.Project.Id == project.Id && p.Criterion.Id == criterion.Id)?.Points.ToString() ?? null;
                            <td data-project-id="@project.Id" data-criterion-id="@criterion.Id" class="input-cell @(string.IsNullOrEmpty(initial) ? "bad" : "good")">
                                <input type="number" min="0" max="@criterion.MaxPoints" data-value="@initial"
                                       value="@initial"/>
                            </td>
                        }
                    </tr>
                }
            }
            </tbody>
            <tfoot>
            <tr class="font-weight-bold">
                <td>
                    Total
                </td>
                <td>
                    @Model.JudgingSections.Sum(jc => jc.MaxPoints)
                </td>
                @foreach (var project in Model.Projects)
                {
                    <td data-content="@project.Title" data-toggle="popover">
                        <div class="project-total-points" data-project-id="@project.Id">
                            @Model.InitialPoints.Where(p => p.Project.Id == project.Id).Sum(jc => jc.Points)
                        </div>
                    </td>
                }
            </tr>
            </tfoot>
        </table>
    </div>
}
@if (Model.Projects.Count == 0)
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="alert alert-danger d-inline-block mt-5">
                    @if (Model.Type == JudgingType.Open)
                    {
                        <span>Nu există proiecte înscrise la proba <b>Open</b> la categoria <b>@Model.Category.Name</b>.</span>
                    }
                    else
                    {
                        <span>Nu există proiecte înscrise la categoria <b>@Model.Category.Name</b>.</span>
                    }
                </div>
            </div>
        </div>
    </div>
}
@using (Html.BeginMStyles())
{
    <link rel="stylesheet" href="~/_content/InfoEducatie.Contest/judging/assets/judging.css" asp-append-version="true"/>
}

@using (Html.BeginMPageScripts())
{
    <script>
        var setPointsUrl = '@Html.Raw(Url.ActionLink(nameof(JudgingApiController.SetPoints), TypeHelpers.GetControllerName(typeof(JudgingApiController))))';
    </script>
    <script src="~/_content/InfoEducatie.Contest/judging/assets/judging.js" asp-append-version="true"></script>
    <script>
        initializeJudgingTable();
    </script>
}