@using MCMS.Base.Extensions
@model List<InfoEducatie.Contest.Judging.Results.CategoryResultsModel>

@{
    ViewBag.Title = "Rezultate";
}

<h2 class="my-3">@ViewBag.Title</h2>

<div class="row">
    @foreach (var category in Model)
    {
        <div class="col-12 col-md-6 pt-5" id="@category.CategorySlug">
            <h3 class="pt-4">
                <b><a href="#@category.CategorySlug"><i class="fa fa-link" aria-hidden="true"></i></a>@category.CategoryName</b>
                <small>(Judges: @category.ProjectJudgeCount project / @category.OpenJudgeCount open)</small>
            </h3>
            <table class="table table-striped table-bordered results-table" data-csv-file-name="@category.CategorySlug">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Project</th>
                    <th>Punctaj</th>
                    <th>Open</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                @{
                    var i = 0;
                }
                @foreach (var project in category.Projects)
                {
                    <tr>
                        <td>@(++i)</td>
                        <td>@project.ProjectTitle</td>
                        <td>@project.GetProjectPoints(category.ProjectJudgeCount).ToString("0.00")</td>
                        <td>@project.GetOpenPoints(category.OpenJudgeCount).ToString("0.00")</td>
                        <td>@project.GetFinalPoints(category.ProjectJudgeCount, category.OpenJudgeCount).ToString("0.00")</td>
                    </tr>
                }
                </tbody>
            </table>
            <hr/>
        </div>
    }
</div>
@using (Html.BeginMPageScripts())
{
    <script>
    var resultsTableConfig =
    {
        paging: false,
        sort: true,
        colReorder: true,
        filter: false,
        bInfo: false,
        buttons:[ {text: 'Download as CSV', extend: 'csv', title: 'xxxx'}, {text: 'Copy as TSV', extend: 'copy'}],
        dom: "<'d-flex justify-content-end'B>frtip",
    };
    $(".results-table").each(function(index, table){
        table = $(table);
        resultsTableConfig.buttons[0].title = 'results-' + table.data('csv-file-name');
        table.dataTable(resultsTableConfig);
    });
    </script>
}