@model InfoEducatie.Main.Seminars.SeminarViewModel

<h2 class="my-5">@Model.Name</h2>
<h5>Ținut de @Model.Speaker</h5>
<div>Data/ora: @Model.When.ToString("u").Replace("Z", "")</div>
<div class="my-4">
    @Html.Raw(Model.Description)
</div>
<div>Link: @Html.Raw(Model.DisplayLink)</div>